<!DOCTYPE html>
<html>
<head>
    <!-- @TODO: Impletar escolher em qual tela iniciar -->
  <meta charset="utf-8">
  <title>Administrador</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.css" rel="stylesheet" media="screen">

  <script type="text/javascript">
    function submenu(div) {
        document.getElementById('header_messages').innerHTML = "";

        for (var i=0; i < document.getElementById('sidebar_content_ul').children.length; i++) {
            document.getElementById('sidebar_content_ul').children[i].setAttribute("class", "");
        }

        for (var j=0; j < document.getElementById('body_content').children.length; j++) {
            document.getElementById('body_content').children[j].setAttribute("class", "hide");
        }

        document.getElementById('body_content_' + div).setAttribute("class", "");
        document.getElementById('submenu_' + div).setAttribute("class", "active");
    };


    function adicionarOnibus() {
        var isOk = true;

        var placa = document.getElementById("placaOnibusAdicionar").value;
        var numeroRota = document.getElementById("numeroRota").value;
        var cont = 0;

        document.getElementById("errorPlaca").innerHTML = "";
        document.getElementById("errorNumero").innerHTML = "";

        if (placa.length != 8) {
            document.getElementById("errorPlaca").innerHTML =  '<div class="alert fade in span6"><button type="button" class="close" data-dismiss="alert">&times;</button>Placa deve ter o fomato LLL-NNNN</div>';
            isOk = false;
        }

        for (var i = 0 ; i < placa.length; i++) {
            if (cont < 3) {
                if (!isNaN(placa[i])) {
                    document.getElementById("errorPlaca").innerHTML =  '<div class="alert fade in span6"><button type="button" class="close" data-dismiss="alert">&times;</button>Placa de Ônibus deve iniciar com 3 Letras.</div>';
                    isOk = false;
                }
            } else if (cont == 3) {
                if (placa[i] != "-") {
                    document.getElementById("errorPlaca").innerHTML =  '<div class="alert fade in span6"><button type="button" class="close" data-dismiss="alert">&times;</button>Placa deve ter o fomato LLL-NNNN.</div>';
                    isOk = false;
                }
            } else {
                if (isNaN(placa[i])) {
                    document.getElementById("errorPlaca").innerHTML =  '<div class="alert fade in span6"><button type="button" class="close" data-dismiss="alert">&times;</button>Placa deve ter o fomato LLL-NNNN.</div>';
                    isOk = false;
                }
            }

            cont++;
        };

        if (numeroRota.length == 0) {
            document.getElementById("errorNumero").innerHTML =  '<div class="alert fade in span6"><button type="button" class="close" data-dismiss="alert">&times;</button>Número da Rota não pode ser vázio.</div>';
            isOk = false;
        } else if (isNaN(numeroRota)) {
            document.getElementById("errorNumero").innerHTML =  '<div class="alert fade in span6"><button type="button" class="close" data-dismiss="alert">&times;</button>O número da Rota precisa ser um número.</div>';
            isOk = false;
        }

        return isOk;
    }

    function adicionarPontoOnibus() {
        var isOk = true;

        var latitude = document.getElementById("latitude").value;
        var longitude = document.getElementById("longitude").value;

        if (latitude.length == 0) {
            document.getElementById("errorLatitudePO").innerHTML =  '<div class="alert fade in span6">A latitude não pode ser vázio.</div>';
            isOk = false;
        } else if (isNaN(latitude)) {
            document.getElementById("errorLatitudePO").innerHTML =  '<div class="alert fade in span6">A latitude precisa ser um número.</div>';
            isOk = false;
        } else if (longitude.length == 0) {
            document.getElementById("errorLongitudePO").innerHTML =  '<div class="alert fade in span6">A longitude não pode ser vázio.</div>';
            isOk = false;
        } else if (isNaN(longitude)) {
            document.getElementById("errorLongitudePO").innerHTML =  '<div class="alert fade in span6">A longitude precisa ser um número.</div>';
            isOk = false;
        }

        return isOk;
    }

    function adicionarRotaOnibus() {
        var isOk = true;

        var novaRota =document.getElementById("novaRota").value;
        var coordenadas =document.getElementById("coordenadas").value;

        if (novaRota.length == 0) {
            document.getElementById("errorNovaRota").innerHTML =  '<div class="alert fade in span6">Número da Rota não pode ser vázio.</div>';
            isOk = false;
        } else if (isNaN(novaRota)) {
            document.getElementById("errorNovaRota").innerHTML =  '<div class="alert fade in span6">O número da Rota precisa ser um número.</div>';
            isOk = false;
        } else if (coordenadas.length == 0) {
            document.getElementById("errorCoordenadas").innerHTML =  '<div class="alert fade in span6">A coordenada não pode ser vázia.</div>';
            isOk = false;
        }

        return isOk;
    }

    function showHorario() {
        for (var j=0; j < document.getElementById('horarios_content').children.length; j++) {
            document.getElementById('horarios_content').children[j].setAttribute("class", "hide");
        }

        var div = "horarios_" + document.getElementById("horarioSelect").value;

        document.getElementById(div).setAttribute("class", "table");
    }

    function remLinhaHorario() {
        var container = document.getElementById("tableAdcHorario").children[1];

        if (container.children.length > 1) {
            container.removeChild(container.lastChild);
        }
    }

    function adcLinhaHorario() {
        var container = document.getElementById("tableAdcHorario");

        var index = container.children[1].children.length + 1;

        var row = container.insertRow(-1);
        row.innerHTML = "<td><div align='center'><select name='idAdcPontoOnibus" + index + "' id='idAdcPontoOnibus" + index + "'><% for (var i = 0; i < pontoonibus.length; i++) { %><option value='<%= pontoonibus[i].id_pontoonibus %>'><%= pontoonibus[i].id_pontoonibus %></option><% } %></select></div></td><td><div align='center'><input type='time' id='tempoAdcHorario" + index + "' name='tempoAdcHorario" + index + "' placahold='Horário' required></div></td>";
    }

    var page = 0;

    function nextPageFugaRota() {
        if (document.getElementById("pageNextFugaRota").className.indexOf("disabled") == -1) {
            document.getElementById("horariospage_" + page).setAttribute("class", "table hide");

            page += 10;

            document.getElementById("horariospage_" + page).setAttribute("class", "table");

            var next = document.getElementById("horariospage_" + (page + 10));

            if (!next) {
                document.getElementById("pageNextFugaRota").setAttribute("class", "next disabled");
            }

            document.getElementById("pagePreviousFugaRota").setAttribute("class", "previous");
        }
    }

    function previousPageFugaRota() {
        if (document.getElementById("pagePreviousFugaRota").className.indexOf("disabled") == -1) {
            document.getElementById("horariospage_" + page).setAttribute("class", "table hide");

            page -= 10;

            document.getElementById("horariospage_" + page).setAttribute("class", "table");

            var previous = document.getElementById("horariospage_" + (page - 10));

            if (!previous) {
                document.getElementById("pagePreviousFugaRota").setAttribute("class", "previous disabled");
            }

            document.getElementById("pageNextFugaRota").setAttribute("class", "next");
        }
    }

  </script>
</head>

<body style="margin-top: 40px">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <a class="brand" href="./home">Monitoramento de Ônibus</a>
        <div class="container">
          <ul class="nav" >
            <li><a href="./home">Home</a></li>
            <li><a href="./horarios">Horários</a></li>
            <li class="active"><a href="./admin">Administração</a></li>
            <li><a href="#Sobre" role="button" data-toggle="modal">Sobre</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div id="Sobre" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sobreLabel" aria-hidden="true">
        <div class="modal-header">
            <h3 id="sobreLabel">Sobre</h3>
        </div>
        <div class="modal-body">
            <h4 align="center">Monitoramento de Ônibus</h4>
            <p align="center">Sistema para monitorar transportes públicos baseado em localização.</p>
            <br>
            <p>Desenvolvedores:</p>
            <ul>
                <li><a href="https://github.com/matheussampaio" target="_blank">@matheussampaio</a></li>
                <li><a href="https://github.com/pherivelton" target="_blank">@pherivelton</a></li>
                <li><a href="https://github.com/RaiffRamalho" target="_blank">@RaiffRamalho</a></li>
                <li><a href="https://github.com/WesleyBrenno" target="_blank">@WesleyBrenno</a></li>
            </ul>

            <p align="center"><a href="https://github.com/matheussampaio/monitoramento_onibus" target="_blank">GitHub</a></p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>

    <div class="row">
        <!-- Header Content -->
        <div class="row-fluid">
            <div class="span12 center" id="header_messages" style="padding: 50px">
                <% if (messageSuccess.length > 0) { %>
                    <div class="alert alert-success text-center"><button type="button" class="close" data-dismiss="alert">&times;</button><%= messageSuccess %></div>
                <% } %>
                <% if (messageError.length > 0) { %>
                    <div class="alert alert-error text-center"><button type="button" class="close" data-dismiss="alert">&times;</button><%= messageError %></div>
                <% } %>
            </div>
        </div>
      <!--Sidebar content-->
      <div class="span3" style="margin-left: 100px; margin-right: 100px">
        <ul class="nav nav-tabs nav-stacked" id="sidebar_content_ul">
          <li <% if (inPage == '' || inPage == 'onibus') { %> class="active" <% } %> id="submenu_onibus"><a href="#onibus" onclick="javascript:submenu('onibus')">Ônibus</i></a></li>
          <li <% if (inPage == 'rota') { %> class="active" <% } %> id="submenu_rotas"><a href="#rotas" onclick="javascript:submenu('rotas')">Rotas</a></li>
          <li <% if (inPage == 'pontoonibus') { %> class="active" <% } %> id="submenu_pontoonibus"><a href="#pontoonibus" onclick="javascript:submenu('pontoonibus')">Pontos de Ônibus</a></li>
          <li <% if (inPage == 'fugarota') { %> class="active" <% } %> id="submenu_fugarotas"><a href="#fugarotas" onclick="javascript:submenu('fugarotas')">Fugas de Rotas</a></li>
          <li <% if (inPage == 'horario') { %> class="active" <% } %> id="submenu_horarios"><a href="#horarios" onclick="javascript:submenu('horarios')">Horários</a></li>
        </ul>
      </div>

      <!--Body content-->
      <div class="span9" id="body_content" style="margin-left: 100px">
        <div <% if (inPage == '' || inPage == 'onibus') { %> class="" <% } else { %> class="hide" <% } %> id="body_content_onibus">
            <h2 class="text-center">Ônibus</h2><br>
            <h3 class="text-center">Remover Ônibus</h3> <br>   
            <% if (onibus.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhum Ônibus no Banco de Dados.</p>
            <% } else { %>
                <table class="table">
                <thead>
                <tr>
                    <td><div align="center"><b>Placa</b></div></td>
                    <td><div align="center"><b>Rota</b></div></td>
                    <td><div align="center"><b>Status</b></div></td>
                    <td><div align="center"><b>Fuga</b></div></td>
                    <td><div align="center"><b>Remover</b></div></td>
                </tr>
                </thead>

                <% for (var i = 0; i < onibus.length; i++) { %>
                    <tr>
                        <td><div align="center"><%= onibus[i].placa %></div></td>
                        <td><div align="center"><%= onibus[i].nome %></div></td>
                        <td><div align="center"><%=: onibus[i].current_status | capitalize %></div></td>
                        <td><div align="center"><%=: onibus[i].statusfuga | capitalize  %></div></td>
                        <td><div align="center">
                            <form action="removerOnibus" method="POST">
                                <input type="hidden" name="idOnibus" id="idOnibus" value=<%= onibus[i].id_onibus %>>
                                <button class="btn btn-mini btn-link" type="submit"><i class="icon-remove"></i></button>
                            </form>
                        </div></td>
                    </tr>
                <% } %>
                </table>

            <% } %>

            <br><hr><br>

            <h2 class="text-center">Adicionar Ônibus</h2> <br>

            <% if (rotas.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhuma Rota no Banco de Dados.</p>
            <% } else { %>
                <form id="onibusForm" class="form-horizontal" onsubmit="return adicionarOnibus()" method="POST" action="adicionarOnibus">
                  <div class="control-group">
                    <label class="control-label" for="placaOnibusAdicionar">Placa do Ônibus</label>
                    <div class="controls">
                      <input type="text" id="placaOnibusAdicionar" name="placaOnibusAdicionar" placeholder="Placa (LLL-NNNN)">
                    </div>
                    <div id="errorPlaca"></div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="numeroRota">Número da Rota</label>
                    <div class="controls">
                        <select type="text" name="numeroRota" id="numeroRota">
                            <% for (var i=0; i < rotas.length; i++) { %>
                                <option><%= rotas[i].nome %></option>
                            <% } %>
                        </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button class="submit btn" type="submit">Adicionar</button>
                    </div>
                  </div>
                </form>
            <% } %>
        </div>

        <div <% if (inPage == 'rota') { %> class="" <% } else { %> class="hide" <% } %> id="body_content_rotas">
            <h2 class="text-center">Rotas</h2>

            <br>

            <% if (rotas.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhuma Rota no Banco de Dados.</p>
            <% } else { %>

                <table class="table">
                <thead>
                <tr>
                    <td><div align="center"><b>Nome</b></div></td>
                    <td><div align="center"><b>Ponto de Ônibus de Início</b></div></td>
                    <td><div align="center"><b>Pontos de Ônibus da Rota</b></div></td>
                    <td><div align="center"><b>Remover</b></div></td>
                </tr>
                </thead>
                <% for (var i = 0; i < rotas.length; i++) { %>
                    <tr>
                        <td><div align="center"><%= rotas[i].nome %></div></td>
                        <td><div align="center"><%= rotas[i].first_pontoonibus %></div></td>
                        <td><div align="center">
                        <% for (var j = 0; j < pontoonibusrota.length; j++) { %>
                            <% if(rotas[i].id_rota == pontoonibusrota[j].id_rota){ %>
                            <%= pontoonibusrota[j].id_pontoonibus %>
                            <% } %>
                        <% } %>
                        </div></td>

                        <td><div align="center">
                            <form action="removerRota" method="POST">
                                <input type="hidden" name="idRota" id="idRota" value=<%= rotas[i].id_rota %>>
                                <button class="btn btn-mini btn-link" type="submit"><i class="icon-remove"></i></button>
                            </form>
                            </div>
                        </td>
                    </tr>
                <% } %>
                </table>

            <% } %>

            <br><hr><br>

            <h2 class="text-center">Adicionar Rota de Ônibus</h2> <br>

            <% if (pontoonibus.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhum Ponto de Ônibus no Banco de Dados.</p>
            <% } else { %>

            <form id="rotaOnibusForm" class="form-horizontal" onsubmit="return adicionarRotaOnibus()" method="POST" action="adicionarRotaOnibus">
              <div class="control-group">
                <label class="control-label" for="novaRota">Nome</label>
                <div class="controls">
                    <input type="text" id="novaRota" name="novaRota" placeholder="Nova Rota">
                </div>
                <div id="errorNovaRota"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="coordenadas">Coordenadas</label>
                <div class="controls">
                    <textarea rows="6" cols="50" id="coordenadas" name="coordenadas" placeholder="Coordenadas"></textarea>
                </div>
                <div id="errorCoordenadas"></div>
              </div>
              <div class="control-group">
               <label class="control-label" for="pontoOnibusInicial">Ponto de ônibus</label>
                <div class="controls">
                    <select name="pontoInicial" id="pontoInicial">Ponto de ônibus
                        <% for (var i = 0; i < pontoonibus.length; i++) { %>
                            <option value="<%= pontoonibus[i].id_pontoonibus %>"><%= pontoonibus[i].id_pontoonibus %></option>
                        <% } %>
                    </select>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <button class="submit btn" type="submit">Adicionar nova Rota</button>
                </div>
              </div>
            </form>

            <% } %>

            <br><hr><br>

            <h2 class="text-center">Adicionar Ponto de Ônibus à Rota</h2> <br>

            <% if (pontoonibus.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhum Ponto de Ônibus no Banco de Dados.</p>
            <% } else if (rotas.length == 0 ) { %>
                <br>
                <p class="text-center muted bold">Não há nenhuma Rota no Banco de Dados.</p>
            <% } else { %>

            <form id="rotaPontosForm" class="form-horizontal" onsubmit="return adicionarPontoRota()" method="POST" action="adicionarPontoRota">
              <div class="control-group">
                <label class="control-label" for="numeroRota">Número da Rota</label>
                <div class="controls">
                    <select type="text" name="numeroRota" id="numeroRota">
                        <% for (var i=0; i < rotas.length; i++) { %>
                            <option><%= rotas[i].nome %></option>
                        <% } %>
                    </select>
                </div>
              </div>
              <div class="control-group">
               <label class="control-label" for="pontoAnterior">Ponto de Ônibus anterior</label>
                <div class="controls">
                    <select name="pontoAnterior" id="pontoAnterior">Ponto de Ônibus anterior
                        <% for (var i = 0; i < pontoonibus.length; i++) { %>
                            <option value="<%= pontoonibus[i].id_pontoonibus %>"><%= pontoonibus[i].id_pontoonibus %></option>
                        <% } %>
                    </select>
                </div>
              </div>
              <div class="control-group">
               <label class="control-label" for="pontoNovo">Ponto de Ônibus a ser adicionado</label>
                <div class="controls">
                    <select name="pontoNovo" id="pontoNovo">Ponto de Ônibus a ser adicionado
                        <% for (var i = 0; i < pontoonibus.length; i++) { %>
                            <option value="<%= pontoonibus[i].id_pontoonibus %>"><%= pontoonibus[i].id_pontoonibus %></option>
                        <% } %>
                    </select>
                </div>
              </div>
              <div class="control-group">
               <label class="control-label" for="pontoPosterior">Ponto de Ônibus posterior</label>
                <div class="controls">
                    <select name="pontoPosterior" id="pontoPosterior">Ponto de Ônibus posterior
                        <% for (var i = 0; i < pontoonibus.length; i++) { %>
                            <option value="<%= pontoonibus[i].id_pontoonibus %>"><%= pontoonibus[i].id_pontoonibus %></option>
                        <% } %>
                    </select>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <button class="submit btn" type="submit">Adicionar novo Ponto a Rota</button>
                </div>
              </div>
            </form>

            <% } %>

            <br><hr><br>

            <h2 class="text-center">Remover Ponto de Ônibus de uma Rota</h2> <br>

            <% if (rotas.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhuma Rota no Banco de Dados.</p>
            <% } else { %>

            <h3 class="text-center">Remover Ponto de uma Rota de Ônibus</h3> <br>

            <table class="table">
            <% if (rotas.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhuma Rota no banco de dados.</p>
            <% } else { %>
                <thead>
                <% for (var i = 0; i < rotas.length; i++) { %>
                  <tr>
                      <td><div align="center"><b>Nome da Rota</b></div></td>
                      <td><div align="center"><b>ID do ponto</b></div></td>
                      <td><div align="center"><b>Remover</b></div></td>
                  </tr>
              </thead>
                  <% for (var j = 0; j < pontoonibusrota.length; j++) { %>
                      <tr>
                      <td><div align="center"><%= rotas[i].nome %></div></td>
                          <td><div align="center"><%= pontoonibusrota[j].id_pontoonibus %></div></td>
                          <td><div align="center">
                              <form action="removerPontoRota" method="POST">
                                  <input type="hidden" name="idPonto" id="idPonto" value=<%= pontoonibusrota[j].id_pontoonibus %>>
                                  <input type="hidden" name="nomeRota" id="nomeRota" value=<%= rotas[i].nome %>>
                                  <input type="hidden" name="idRota" id="idRota" value=<%= rotas[i].id_rota %>>
                                  <button class="btn btn-mini btn-link" type="submit"><i class="icon-remove"></i></button>
                              </form>
                              </div>
                          </td>
                      </tr>
                  <% } %>
                <% } %>
            </table>
            <% } %>
        <% } %>

        </div>

        <div <% if (inPage == 'pontoonibus') { %> class="" <% } else { %> class="hide" <% } %> id="body_content_pontoonibus">
            <h2 class="text-center">Pontos de Ônibus</h2><br>
            <h3 class="text-center">Remover Ponto</h3> <br>   
            <% if (pontoonibus.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhum Ponto de Ônibus no Banco de Dados.</p>
            <% } else { %>

                <table class="table">
                <thead>
                <tr>
                    <td><div align="center"><b>ID</b></div></td>
                    <td><div align="center"><b>Nome</b></div></td>
                    <td><div align="center"><b>Posição</b></div></td>
                    <td><div align="center"><b>Remover</b></div></td>
                </tr>
                </thead>

                <% for (var i = 0; i < pontoonibus.length; i++) { %>
                    <tr>
                        <td><div align="center"><%= pontoonibus[i].id_pontoonibus %></div></td>
                        <% if (!pontoonibus[i].nome) { %>
                            <td><div align="center">-</div></td>
                        <% } else { %>
                            <td><div align="center"><%= pontoonibus[i].nome %></div></td>
                        <% } %>
                        <td><div align="center"><%= pontoonibus[i].pos %></div></td>
                        <td><div align="center">
                            <form action="removerPontoOnibus" method="POST">
                                <input type="hidden" name="idPontoOnibus" id="idPontoOnibus" value=<%= pontoonibus[i].id_pontoonibus %>>
                                <button class="btn btn-mini btn-link" type="submit"><i class="icon-remove"></i></button>
                            </form>
                            </div>
                        </td>
                    </tr>
                <% } %>
                </table>

            <% } %>

            <br><hr><br>

            <h2 class="text-center">Criar Ponto de Ônibus</h2> <br>

            <form id="pontoOnibusForm" class="form-horizontal" onsubmit="return adicionarPontoOnibus()" method="POST" action="adicionarPontoOnibus">
              <div class="control-group">
                <label class="control-label" for="nomePontoOnibus">Nome</label>
                <div class="controls">
                  <input type="text" id="nomePontoOnibus" name="nomePontoOnibus" placeholder="Nome (Opcional)">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="latitude">Latitude</label>
                <div class="controls">
                  <input type="text" id="latitude" name="latitude" placeholder="Latitude">
                </div>
                <div id="errorLatitudePO"></div>
              </div>
              <div class="control-group">
                <label class="control-label" for="longitude">Longitude</label>
                <div class="controls">
                  <input type="text" id="longitude" name="longitude" placeholder="Longitude">
                </div>
                <div id="errorLongitudePO"></div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button class="submit btn" type="submit">Adicionar</button>
                </div>
              </div>
            </form>
        </div>

        <div <% if (inPage == 'fugarota') { %> class="" <% } else { %> class="hide" <% } %> id="body_content_fugarotas">
            <h2 class="text-center">Fugas em Aberto</h2><br>

            <% if (fugarota.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhuma Fuga de Rota em aberto.</p>
            <% } else { %>

                <table class="table">
                <thead>
                <tr>
                    <td><div align="center"><b>Placa do Ônibus</b></div></td>
                    <td><div align="center"><b>Inicio da Fuga</b></div></td>
                    <td><div align="center"><b>Final da Fuga</b></div></td>
                    <td><div align="center"><b>Marcar como Resolvido</b></div></td>
                </tr>
                </thead>

                <% for (var i = 0; i < fugarota.length; i++) { %>
                    <tr>
                        <td><div align="center"><%= fugarota[i].placa %></div></td>
                        <td><div align="center"><%= fugarota[i].horarioinicio %></div></td>
                        <% if (!fugarota[i].horariofinal) { %>
                            <td><div align="center">-</div></td>
                        <% } else { %>
                            <td><div align="center"><%= fugarota[i].horariofinal %></div></td>
                        <% } %>
                        <td><div align="center">
                            <form action="fugarota" method="POST">
                                <input type="hidden" name="idFugaRota" id="idFugaRota" value=<%= fugarota[i].id_fugarota %>>
                                <input type="hidden" name="idOnibus" id="idOnibus" value=<%= fugarota[i].id_onibus %>>
                                <button class="btn btn-link btn-mini" type="submit"><i class="icon-ok"></i></button>
                            </form>
                        </div></td>
                    </tr>
                <% } %>
                </table>

            <% } %>

            <br><hr><br>

            <h2 class="text-center">Histórico de Fugas</h2><br>

            <% if (fugarotahistorico.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhuma Fuga de Rota resolvida.</p>
            <% } else { %>

                <ul class="pager">
                  <li id="pagePreviousFugaRota" class="previous disabled">
                    <a href="#" onclick="javascript:previousPageFugaRota()">&larr; Novos</a>
                  </li>
                  <li id="pageNextFugaRota" <% if (fugarotahistorico.length > 10) { %> class="next" <% } else { %> class="next disabled" <% } %>>
                    <a href="#" onclick="javascript:nextPageFugaRota()">Antigos &rarr;</a>
                  </li>
                </ul>

                <% for (var k=0; k < fugarotahistorico.length; k+=10) { %>
                    <table id="horariospage_<%= k %>" <% if ( k == 0) { %> class="table" <% } else { %> class="table hide" <% } %>>
                    <thead>
                    <tr>
                        <td><div align="center"><b>Placa do Ônibus</b></div></td>
                        <td><div align="center"><b>Inicio da Fuga</b></div></td>
                        <td><div align="center"><b>Final da Fuga</b></div></td>
                    </tr>
                    </thead>

                    <% for (var i = k; i < k+10; i++) { %>
                        <% if (fugarotahistorico[i]) { %>
                        <tr>
                            <td><div align="center"><%= fugarotahistorico[i].placa %></div></td>
                            <td><div align="center"><%= fugarotahistorico[i].horarioinicio %></div></td>
                            <% if (!fugarotahistorico[i].horariofinal) { %>
                                <td><div align="center">-</div></td>
                            <% } else { %>
                            <td><div align="center"><%= fugarotahistorico[i].horariofinal %></div></td>
                            <% } %>
                        </tr>
                        <% } %>
                    <% } %>
                    </table>
                <% } %>

            <% } %>
        </div>

        <div <% if (inPage == 'horario') { %> class="" <% } else { %> class="hide" <% } %> id="body_content_horarios">
            <h2 class="text-center">Horários de Ônibus</h2><br>

            <% if (horarios.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhum Horário.</p>
            <% } else { %>

                <div align="center">
                    <form class="form-search">

                        <select class="input-medium search-query" name="horarioSelect" id="horarioSelect">
                            <% var prev = ""; %>
                            <% for (var i=0; i < horarios.length; i++) { %>
                                <% if (i == 0) { %>
                                    <% prev = horarios[i].placa; %>
                                    <option value="<%= horarios[i].placa %>"><%= horarios[i].placa %></option>
                                <% } else if (prev != horarios[i].placa) { %>
                                    <% prev = horarios[i].placa; %>
                                    <option value="<%= horarios[i].placa %>"><%= horarios[i].placa %></option>
                                <% } %>
                            <% } %>
                        </select>

                        <a class="btn" onclick="javascript:showHorario()"><i class="icon-search"></i></a>
                    </form>
                </div>

                <div id="horarios_content">
                    <% for (var i=0; i < horarios.length; i++ ) { %>
                        <% if (i == 0) { %>
                            <% var prev = horarios[i].placa; %>
                            <table class="table hide" id="horarios_<%= horarios[i].placa %>">
                              <!-- Cabeçalho -->
                              <thead>
                              <tr>
                                <td><div align="center"><b>Ponto de Ônibus</b></div></td>
                                <td><div align="center"><b>Horário de Chegada</b></div></td>
                              </tr>
                              </thead>

                              <tbody>
                              <% for (var j=0; j < horarios.length; j++) { %>
                                <% if (prev == horarios[j].placa) { %>
                                <tr>
                                    <td><div align="center"><%= horarios[j].id_pontoonibus %></div></td>
                                    <td><div align="center"><%= horarios[j].tempo %></div></td>
                                </tr>
                                <% } %>
                              <% } %>
                              </tbody>
                            </table>

                        <% } else if (prev != horarios[i].placa) { %>
                            <% prev = horarios[i].placa; %>
                            <table class="table hide" id="horarios_<%= horarios[i].placa %>">
                              <!-- Cabeçalho -->
                              <thead>
                                <tr>
                                  <td><div align="center"><b>Ponto de Ônibus</b></div></td>
                                  <td><div align="center"><b>Horário de Chegada</b></div></td>
                                </tr>
                              </thead>
                              <tbody>
                              <% for (var j=0; j < horarios.length; j++) { %>
                                <% if (prev == horarios[j].placa) { %>
                                <tr>
                                    <td><div align="center"><%= horarios[j].id_pontoonibus %></div></td>
                                    <td><div align="center"><%= horarios[j].tempo %></div></td>
                                </tr>
                                <% } %>
                              <% } %>
                              </tbody>
                            </table>
                        <% } %>
                      <% } %>
                </div>

            <% } %>

            <br><hr><br>

            <h2 class="text-center">Adicionar Horários de Ônibus</h2>

            <br><br>

            <% if (onibus.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhum Ônibus.</p>
            <% } else if (pontoonibus.length == 0) { %>
                <br>
                <p class="text-center muted bold">Não há nenhum Ponto de Ônibus.</p>
            <% } else { %>
                <form class="form-horizontal" action="adicionarHorario" method="POST">
                    <div class="control-group">
                        <label class="control-label" for="idOnibus">Placa do Ônibus</label>

                        <div class="controls">
                            <select name="idOnibus" id="idOnibus">
                                <% for (var i = 0; i < onibus.length; i++) { %>
                                    <option value="<%= onibus[i].id_onibus %>"><%= onibus[i].placa %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <br><br>

                    <table id="tableAdcHorario" class="table">
                        <thead>
                            <tr>
                                <td><div align="center"><b>Ponto de Ônibus</b></div></td>
                                <td><div align="center"><b>Horário</b></div></td>
                                <td><div align="center"></div></td>
                            </tr>
                        </thead>

                            <tr>
                                <td>
                                    <div align="center">
                                        <select name="idAdcPontoOnibus1" id="idAdcPontoOnibus1">
                                            <% for (var i = 0; i < pontoonibus.length; i++) { %>
                                                <option value="<%= pontoonibus[i].id_pontoonibus %>"><%= pontoonibus[i].id_pontoonibus %></option>
                                            <% } %>
                                        </select>
                                    </div>
                                </td>
                                <td><div align="center"><input type="time" id="tempoAdcHorario1" name="tempoAdcHorario1" placahold="Horário" required></div></td>
                                <td><div align="center"><a href="#adcLinha" onclick="javascript:remLinhaHorario()"><i class="icon-minus"></i></a></div></td>
                                <td><div align="center"><a href="#remLinha" onclick="javascript:adcLinhaHorario()"><i class="icon-plus"></i></a></div></td>
                            </tr>
                    </table>

                    <br><br>

                    <div align="center">
                        <button class="submit btn" type="submit">Adicionar</button>
                    </div>
                </form>
            <% } %>
        </div>
      </div>
    </div>
</body>

</html>
