<html>
    <head>
        <title>Fuga de Rota</title>
    </head>

    <body>
        <span align="center"><h1>Fuga de Rota</h1></span>

        <br>
        <br>

        <form action="/" method="GET">
            <input type="submit" value="Voltar">
        </form>

        <br>

        <table border=1 align="center">
            <tr>
                <td><div align="center"><b>Placa do Ônibus</b></div></td>
                <td><div align="center"><b>Horário da Fuga</b></div></td>
                <td><div align="center"><b>Marcar como Resolvido</b></div></td>
            <tr>

            <% for (var i = 0; i < result.length; i++) { %>
                <tr>
                    <td><div align="center"><%= result[i].placa %></div></td>
                    <td><div align="center"><%= result[i].time %></div></td>
                    <td><div align="center">
                        <form action="fugarota" method="PUT">
                            <input type="hidden" name="idOnibus" id="idOnibus" value=<%= result[i].id_onibus %>>
                            <input type="submit" value="x">
                        </form>
                    </div></td>
                </tr>
            <% } %>
        </table>

    </body>

</html>